[flake8]
extend-ignore = ANN101, ANN204, ANN401, B008, B904, B907, E501, E704
max-line-length = 120
max-complexity = 18
suppress-non-returning = true
kwargs-ignore-function-pattern-extend = (options|load_only|replace|pop)$
per-file-ignores =
    tests/*:ANN201
    test_*:ANN201
    source/backend/alembic/versions/*:FKA100
    scripts/*:FKA100, E402
extend-exclude =
    .venv/
